.change-quote {
  margin: 0.3rem;
  background-image: url("/src/svg/reload.svg");
  transition: visibility ease-in-out 0.6s;
  @extend %icon-block;
  &:hover {
    @extend %icon-hover;
  }
  &:active {
    @extend %icon-active;
  }
}

.quote-block {
  padding-top: 1rem;
  width: 73vw;
  font-size: 1.8rem;
  transition: visibility ease-in-out 0.6s;
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}
