.footer {
  position: relative;
  @extend %flex-column;
  @extend %jc-end;
  @extend %al-items-center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
}

.logo {
  width: 30%;
  display: block;
  padding-top: 30px;
}

.logo-img {
  width: 100%;
}

.footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.github {
  padding-top: 1rem;
}
.footer-year {
  padding: 1rem 0 0 1rem;
  font-size: 2rem;
}
