@charset "UTF-8";
/* Abstracts */
.task, .to-do-list__container {
  display: flex;
}

.setting-description, .setting-language,
.setting-image-source,
.image-tag.show, .greeting-container, .description-container, .volume, .player-controls, .header {
  display: flex;
  justify-content: space-between;
}

.to-do-list__container, .weather, .footer, .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.greeting-container, .description-container {
  flex-wrap: wrap;
}

.weather {
  align-items: flex-start;
}

.task, .to-do-list__button, .to-do-list__container, .greeting-container, .description-container, .volume, .player-controls, .footer, .main, .header {
  align-items: center;
}

.description-container {
  justify-content: flex-start;
}

.main {
  justify-content: center;
}

.footer {
  justify-content: flex-end;
}

.change-quote, .slider-icon, .volume-icon, .player-icon {
  width: 32px;
  height: 32px;
  background-size: 3.2rem 3.2rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.change-quote:hover, .slider-icon:hover, .player-icon:hover {
  opacity: 1;
}

.change-quote:active, .slider-icon:active, .player-icon:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.to-do-list__button, .volume-range::-ms-thumb, .volume-range::-moz-range-thumb, .volume-range::-webkit-slider-thumb {
  transition: ease-in-out 0.5s;
}

/* Vendors */
/* Base */
* {
  max-width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

input,
button,
textarea,
select {
  font: inherit;
}

section,
main,
footer,
header,
article {
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  min-width: 480px;
  font-family: "Arial", sans-serif;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  overflow: hidden;
}

.time {
  min-height: 124px;
  margin-bottom: 1rem;
  font-family: "Arial", sans-serif;
  font-size: 10rem;
  letter-spacing: -0.4rem;
}
@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 7.2rem;
  }
}

.date {
  min-height: 28px;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

@font-face {
  font-family: "Arial-MT";
  src: url("/src/fonts/Arial-MT.woff");
}
/* Layout  */
.header {
  width: 100%;
  height: 33vh;
  min-height: 220px;
  padding: 2rem;
}

.main {
  position: relative;
  width: 100%;
  height: 30vh;
  min-height: 260px;
  padding: 1.2rem;
}

.time {
  transition: visibility ease-in-out 0.6s;
}

.date {
  transition: visibility ease-in-out 0.6s;
}

.footer {
  position: relative;
  width: 100%;
  height: 30vh;
  min-height: 160px;
}

.logo {
  width: 30%;
  display: block;
  padding-top: 2rem;
}

.logo-img {
  width: 100%;
}

.footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.github {
  padding-top: 1rem;
}

.footer-year {
  padding: 1rem 0 0 1rem;
  font-size: 2rem;
}

/* Components */
.player {
  padding: 0.7rem;
  background-color: hsla(0deg, 0%, 22%, 0.8);
  border-radius: 1.5rem;
  transition: visibility ease-in-out 0.6s;
}

.player-controls {
  width: 150px;
  padding-bottom: 1rem;
}

.play-list {
  font-size: 1.1rem;
  text-align: left;
}

.play-item {
  position: relative;
  padding: 0.5rem 0 0.5rem 2rem;
  list-style: none;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "✓";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #c5b358;
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("/src/svg/play.svg");
}

.pause {
  background-image: url("/src/svg/pause.svg");
}

.play-prev {
  background-image: url("/src/svg/play-prev.svg");
}

.play-next {
  background-image: url("/src/svg/play-next.svg");
}

/* player */
.duration {
  padding-top: 1rem;
  font-size: 1.5rem;
}

/* Progress */
.track-name {
  padding-bottom: 0.8rem;
}

.track-name__item {
  font-size: 1.2rem;
}

.slider-timeline {
  display: flex;
  justify-content: space-between;
}

.timeline {
  width: 100%;
  height: 10px;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}

.current-time {
  padding-right: 0.5rem;
}

.duration-time {
  padding-left: 0.5rem;
}

.total-time {
  padding-left: 0.5rem;
}

.progress-bar {
  height: 5px;
  background: red;
  border-radius: 0.5rem;
}

/* volume */
.volume-icon {
  background-image: url("/src/svg/volume.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: -0.5px center;
}

.mute {
  background-image: url("/src/svg/volume-mute.svg");
  filter: brightness(0) invert(1);
}

.volume {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volume-progress {
  position: absolute;
  right: 0;
  width: 120px;
  height: 8px;
  top: 12px;
  border-radius: 6px;
  -webkit-appearance: none;
  overflow: hidden;
}
.volume-progress::-webkit-progress-bar {
  background: #fff;
}
.volume-progress::-webkit-progress-value {
  background: hsl(16deg, 100%, 50%);
}

.volume-range {
  position: absolute;
  right: 0;
  top: 12px;
  width: 120px;
  height: 10px;
  background: transparent;
  -webkit-appearance: none;
  z-index: 100;
}
.volume-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #fff;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
}
.volume-range::-moz-range-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #fff;
  cursor: ew-resize;
}
.volume-range::-ms-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #fff;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
}

button {
  display: inline-block;
  background: none;
  border: none;
}

.weather {
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
  font-size: 1.5rem;
  transition: visibility ease-in-out 0.6s;
}

.weather-error {
  min-width: 50%;
  margin-top: -1rem;
}

.description-container {
  column-gap: 12px;
}

.weather-icon {
  font-size: 4.4rem;
}

.city {
  width: 170px;
  height: 34px;
  padding: 0.5rem;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 2rem;
  color: #fff;
  opacity: 0.6;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -1.6rem;
}
.slide-prev {
  left: 20px;
  background-image: url("/src/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("/src/svg/slider-next.svg");
}

.greeting-container {
  justify-content: stretch;
  min-height: 48px;
  width: 100vw;
  font-size: 4rem;
  transition: visibility ease-in-out 0.6s;
}
@media (max-width: 768px) {
  .greeting-container {
    min-height: 40px;
    font-size: 3.2rem;
  }
}

.greeting {
  flex: 1;
  padding: 1rem;
  text-align: right;
}
@media (max-width: 768px) {
  .greeting {
    padding: 0.5rem;
  }
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 1rem;
  font-size: 3rem;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}
.name .name {
  font-size: 3.2rem;
  padding: 0.5rem;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.change-quote {
  margin: 0.3rem;
  background-image: url("/src/svg/reload.svg");
  transition: visibility ease-in-out 0.6s;
}
.quote-block {
  padding-top: 1rem;
  width: 73vw;
  font-size: 1.8rem;
  transition: visibility ease-in-out 0.6s;
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.setting {
  position: absolute;
  display: none;
  left: 5%;
  cursor: pointer;
  font-size: 1.6rem;
  bottom: 25px;
  width: 350px;
  min-height: auto;
  background-color: hsla(0deg, 0%, 22%, 0.8);
  box-shadow: 0px 2px 16px 0px rgba(19, 19, 19, 0.32);
  border-radius: 1.6rem;
}
.setting.show {
  display: block;
}

.setting-container {
  max-width: 330px;
  margin: 0 auto;
}

.setting-inner {
  padding: 0.1rem;
}

.user-block {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid #cacaca;
}

.setting-general {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem 0;
  border-bottom: 0.5px solid #cacaca;
}

.setting-widgets {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem 0;
}
.setting-widgets > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting-language,
.setting-image-source,
.widget-player,
.widget-time,
.widget-date,
.widget-weather,
.widget-greeting,
.widget-quotes,
.widget-todo,
.image-tag {
  padding-top: 0.8rem;
}

.setting-general__title,
.setting-widgets__title {
  color: rgb(173, 173, 173);
}

.image-tag {
  display: none;
}
.image-tag > input {
  width: 38%;
}

.setting-description {
  position: absolute;
  bottom: -20px;
  left: 5%;
  cursor: pointer;
}
.setting-description > * {
  padding-right: 1rem;
}

.user-icon {
  background-image: url("/src/svg/user.svg");
  width: 40px;
  height: 40px;
  background-position: center 0;
  background-repeat: no-repeat;
  margin-right: 1rem;
}

.setting-icon {
  background-image: url("/src/svg/setting.svg");
  width: 40px;
  height: 40px;
  background-position: center 0;
  background-repeat: no-repeat;
}

.setting-title {
  font-size: 2.7rem;
  text-transform: uppercase;
}

.checkbox-button {
  display: inline-block;
  height: 28px;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;
  user-select: none;
}

.checkbox-switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 56px;
  height: 28px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25%/50%;
  vertical-align: top;
  background: #eaeaea;
  transition: 0.25s;
}
.checkbox-switch::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  transition: 0.25s;
}

.checkbox-button input[type=checkbox] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-button input[type=checkbox]:not(:disabled):active + .checkbox-switch:before {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.checkbox-button input[type=checkbox]:checked + .checkbox-switch {
  background: #e5386d;
}

.checkbox-button input[type=checkbox]:checked + .checkbox-switch:before {
  transform: translateX(28px);
}

/* Hover */
.checkbox-button input[type=checkbox]:not(:disabled) + .checkbox-switch {
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.3);
}

/* Disabled */
.checkbox-button input[type=checkbox]:disabled + .checkbox-switch {
  filter: grayscale(70%);
  border-color: rgba(0, 0, 0, 0.1);
}

.checkbox-button input[type=checkbox]:disabled + .checkbox-switch:before {
  background: #eee;
}

/* Focus */
.checkbox-button.focused .checkbox-switch:before {
  box-shadow: inset 0px 0px 4px #ff5623;
}

.to-do-list {
  position: absolute;
  right: 10%;
  top: -180%;
  left: 50%;
  width: 10%;
  min-width: 250px;
  min-height: 100px;
  background: hsla(0deg, 0%, 22%, 0.8);
  border-radius: 10px;
  transform: translate(-50%, -50%);
  transition: visibility ease-in-out 0.6s;
}

.to-do-list__container {
  gap: 1rem;
  padding: 1rem 0;
}

.to-do-list__input {
  position: relative;
  width: 90%;
  height: 35px;
  padding: 1rem;
  background: transparent;
  font-weight: 500;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #111111;
  border: 2px solid #d1d3d4;
}
.to-do-list__input:focus {
  outline: none;
  border-color: #0d75ec;
}
.to-do-list__button {
  display: inline-flex;
  padding: 1rem 2rem;
  background: grey;
  color: #fff;
  border: 1px solid cornsilk;
  border-radius: 0.2rem;
  outline: none;
  cursor: pointer;
}
.to-do-list__button:hover {
  background: #0d75ec;
  color: lightcyan;
}

#taskname {
  font-size: 2rem;
}

.tasks {
  width: 80%;
}

.task {
  width: 100%;
  height: 30px;
  justify-content: space-around;
  margin-bottom: 8px;
  background-color: #c5e1e6;
  border-radius: 5px;
  border: 1px solid #939697;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
